h1{
  color: red
}
[href]{
  color: blue
}
[href="#top"]{
  font-size: 30px
}
ul li{
  list-style: square
}
ul > li{
  color: yellow
}
h2:hover{
  text-shadow: 1px 1px rgba(0,0,0,0.5)
}
a:active{
  color: green
}
input:focus{
  border: 1px solid green
}
