<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <nav class="menu">
      <a href="/"><span>Homepage</span></a>
      <a href="/ask"><span>Ask Question</span></a>
      <a href="/about"><span>About</span></a>
      <a href="/question"><span>Question List</span></a>
    </nav>
    {{{body}}}
  </body>
</html>
