body{
  margin: 0;
}
.menu{
  background: #D5B0AC;
  font-weight: bold;
  text-align: center;
  /*position: fixed;*/
  width: inherit;
  /*margin-top: -20px;*/
}
.menu span{
  position: relative;
  color: #402E2A;
  display: inline-flex;
  height: 30px;
  width: 100px;
  align-items : center;
  justify-content: center;
}
.menu span:hover{
  background: #9CD08F;
  color: #ffffff;
  cursor: pointer;
}
.menu span:hover a{
  color: #fffff;
}
.menu_vertical{
  display: inline-grid;
}
.menu_vertical span{
  border-bottom: 1px solid white;
}
.menu_vertical span:last-child{
  border-bottom: none;
}
body{
  margin: auto;
  width: 1000px;
  background: #f0f0f0;
}
li{
  list-style: square;
}
.active{
  background: #9CD08F;
}
.menu_2{
  display: none;
  /*display: block;*/
  position: absolute;
  top: 30px;
}
/*span{
  position: relative;
}*/
span:hover .menu_2{
  display: inline-grid;
}
.menu .menu_2 .menu_3{
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
}
.menu_2 span:hover .menu_3{
  display: inline-grid;
}
